<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="info">
    <Properties>
        <Property name="mainLogFolder">${sys:rootLogPath}/${sys:serviceName}</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT" ignoreExceptions="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} | %highlight{%p} | %c | %m%n"/>
        </Console>

        <File name="appLog" createOnDemand="true">
            <FileName>${mainLogFolder}/app.log.${date:yyyy-MM-dd_HHmmss.SSS}</FileName>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} | %highlight{%p} | %c | %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="console" level="warn"/>
            <AppenderRef ref="appLog" level="info"/>
        </Root>
    </Loggers>
</Configuration>
